{% extends 'base.html.twig' %}

{% block title %}
Gestionnaire d'hôtels Hb-HotelManager
{% endblock %}

{% block content %}

    <div class="text-center">
        <h1>Bienvenue sur votre gestionnaire d'hotel HB Hotel Manager !</h1>
    </div>

    <hr>

    <div class="card text-center mb-3">
        <div class="card-header">
            <strong>Actions</strong>
        </div>
        <div class="card-body">
            <a href="{{ env.base_path ~ '/clients'}}" class="btn btn-elegant">
                Liste des clients
            </a>
            <a href="{{ env.base_path ~ '/rooms/new/'}}" class="btn btn-primary">
                Créer une nouvelle chambre
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-header text-center"><strong>Liste des chambres</strong></div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Numéro de chambre</th>
                        <th>Reservation</th>
                        <th>Occupation</th>
                        <th>Arrivée</th>
                        <th>Départ</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for room in rooms %}
                    <tr>
                        <td>{{ room.number }}</td>
                        <td>
                            {% if room.client %}
                            <span class="badge badge-warning">Réservée</span>
                            {% else %}
                            <span class="badge badge-success">Disponible</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if room.client %}
                                <span class="badge badge-danger">Occupée</span>
                            {% else %}
                                <span class="badge badge-success">Libre</span>
                            {% endif %}
                        </td>
                        {% if room.client %}
                            <td>{{ room.client.departureDate|date('d/m/Y') }}</td>
                            <td>{{ room.client.entryDate|date('d/m/Y') }}</td>
                        {% else %}
                            <td>-</td>
                            <td>-</td>
                        {% endif %}
                        <td>
                            <a class="btn btn-primary btn-sm" href="{{ env.base_path ~ '/rooms/' ~ room.id }}">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}